<body>
  <div class="usuario">
    <p>{{nickname}}</p>
  </div>

  <div class="titulo">
    <p>ranking</p>
  </div>

  <div class="background-ranking">
    <div class="ranking">
      <table class="fases">
        <button (click)="fase(1)">fase 1</button>
        <button (click)="fase(2)">fase 2</button>
        <button (click)="fase(3)">fase 3</button>
        <button (click)="fase(4)">fase 4</button>
        <button (click)="fase(5)">fase 5</button>
        <button (click)="fase(6)">fase 6</button>
      </table>

      <table class="infos">
        <tr>
          <td>
            usuario
          </td>

          <td>
            tempo
          </td>
        </tr>

      </table>

      <div class="usuarios">
        <table *ngFor="let item of rankingatual;" class="infos">
          <tr>
            <td>
              {{item.nome}}
            </td>

            <td>
              {{item.tempo}}
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>

</body>