<body>
  <div id="pane">
    <div id="box">
      <div class="personagem">
        <img id="imgpersonagem" src="https://i.imgur.com/JfLIZwh.png" alt="">
      </div>
    </div>

    <!-- <img class="arvore" src="https://i.imgur.com/2jP0xYE.png" alt=""> -->
    <!-- <img src="https://i.imgur.com/jRdaXCu.png" alt=""> -->

    <div class="inimigos">
      <img src="https://i.imgur.com/Te5bH4G.gif" alt="">
    </div>

    <div class="inimigos">
      <img src="https://i.imgur.com/bLrfvPk.png" alt="">
    </div>

    <div class="inimigos">
      <img src="https://i.imgur.com/lPzmP0Y.png" alt="">
    </div>

    <div class="inimigos">
      <img src="https://i.imgur.com/NWWXzoC.png" alt="">
    </div>

    <div class="inimigos">
      <img src="https://i.imgur.com/ofzFn0M.png" alt="">
    </div>

    <div class="moeda" (click)="moeda()">
      <img src="https://i.imgur.com/H2gpnJd.png" alt="">
    </div>
  </div>

  <div class="modal">
    <div class="gameover">
      <p class="titulo">GAME OVER!</p>
      <p>jogar de novo?</p>
      <div class="botoes">
        <button (click)="sim()">sim</button>
        <button routerLink="/inicio">nao</button>
      </div>

    </div>
  </div>

</body>