<body>
  <div id="pane">
    <div id="box">
      <div class="personagem">
        <img id="imgpersonagem" src="https://i.imgur.com/JfLIZwh.png" alt="">
      </div>
    </div>

    <div class="inimigos">
      <img src="https://i.imgur.com/eSBDZn1.png" alt="">
    </div>

    <div class="inimigos">
      <img src="https://i.imgur.com/bLrfvPk.png" alt="">
    </div>

    <div class="inimigos">
      <img src="https://i.imgur.com/lPzmP0Y.png" alt="">
    </div>

    <div class="inimigos">
      <img src="https://i.imgur.com/NWWXzoC.png" alt="">
    </div>

    <div class="inimigos">
      <img src="https://i.imgur.com/ofzFn0M.png" alt="">
    </div>

    <div class="moeda" (click)="moeda()">
      <img src="https://i.imgur.com/H2gpnJd.png" alt="">
    </div>
  </div>

</body>