<body>

  <div class="usuario">
    <p>{{nickname}}</p>
  </div>

  <div class="titulo">
    <p>escolha seu personagem</p>
  </div>


  <div class="personagens">
    <div class="personagem" id="atual">
      <img src="https://i.imgur.com/JfLIZwh.png" alt="">
    </div>

    <div class="personagem">
      <img src="https://i.imgur.com/eSBDZn1.png" alt="">
    </div>

    <div class="personagem">
      <img src="https://i.imgur.com/bLrfvPk.png" alt="">
    </div>

    <div class="personagem">
      <img src="https://i.imgur.com/lPzmP0Y.png" alt="">
    </div>

    <div class="personagem">
      <img src="https://i.imgur.com/NWWXzoC.png" alt="">
    </div>

    <div class="personagem">
      <img src="https://i.imgur.com/ofzFn0M.png" alt="">
    </div>

  </div>

  <div class="opcoes">
    <a href="/fase/1"> <button>PLAY</button>
    </a>
    <button routerLink="/ranking">RANKING</button>
    <button routerLink="">EXIT</button>
  </div>

  <p>feito com ❤️ por eduarda, leonardo e vytor.</p>

</body>