<body>
  <div class="capa"></div>

  <div id="pane">
    <div id="box">
      <div class="personagem">
        <img id="imgpersonagem" src="/src/app/imgs/3.gif" alt="">
      </div>
    </div>

    <div class="infos">
      <div class="fase">fase: 2</div>
      <app-tempo></app-tempo>
    </div>

    <div class="inimigos">
      <img src="/src/app/imgs/1.gif" alt="">
    </div>

    <div class="inimigos">
      <img src="/src/app/imgs/2.gif" alt="">
    </div>

    <div class="inimigos">
      <img src="/src/app/imgs/6.gif" alt="">
    </div>

    <div class="inimigos">
      <img src="/src/app/imgs/5.gif" alt="">
    </div>

    <div class="inimigos">
      <img src="/src/app/imgs/4.gif" alt="">
    </div>

    <div class="inimigos">
      <img src="/src/app/imgs/4.gif" alt="">
    </div>

    <div class="moeda">
      <img src="https://i.imgur.com/H2gpnJd.png" alt="">
    </div>

    <div class="moeda">
      <img src="https://i.imgur.com/H2gpnJd.png" alt="">
    </div>

    <div class="moeda">
      <img src="https://i.imgur.com/H2gpnJd.png" alt="">
    </div>
  </div>

  <div class="modal">
    <div class="gameover">
      <p class="titulo">GAME OVER!</p>
      <p>jogar de novo?</p>
      <div class="botoes">
        <button (click)="sim()">sim</button>
        <button routerLink="/inicio">nao</button>
      </div>

    </div>
  </div>

  <div class="modalvenceu">
    <div class="gameover">
      <p class="titulo">WIN!</p>
      <p>tempo: {{tempo}}s</p>
      <p>jogar de novo?</p>
      <div class="botoes">
        <button (click)="sim()">sim</button>
        <button routerLink="/inicio">nao</button>
      </div>

    </div>
  </div>

</body>